body {
    font-family: 'Fredoka One', 'Kosugi Maru', sans-serif, メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a-scene {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.img-arrow {
    max-width: 40px;
    opacity: .7;
}

.ui-arrow {
    z-index: 5;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.inner-arrow {
    position: absolute;
    left: 50%;
    bottom: -10%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.ui-arrow p {
    font-size: 3rem;
    color: rgb(39, 193, 240);
}

.ui-arrow #up {
    text-align: center;
    display: block;
}

.ui-arrow #side {
    display: inline-flex;
    align-items: center;
}

.ui-arrow #blank {
    padding: 0px 40px 0px 40px;
}

.ui-arrow #down {
    text-align: center;
    display: block;
}

h2 {
    color: #f38181;
    font-size: 2.5em;
    margin-top: 20px;
    line-height: 1em;
    letter-spacing: -0.4px;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

p.omikuji-kekka {
    font-size: 1.5em;
    margin-bottom: -30px;
    margin-top: -10px;
}

p.omikuji-com {
    margin-bottom: 10px;
}

.ui {
    position: fixed;
}

.swal2-header {
    display: none;
}

.playGame {
    margin-bottom: 20px;
}

.gameClear {
    margin-bottom: 30px;
}

.swal2-popup {
    border-radius: 25px;
    max-width: 90%;
    padding: 1em;
    background: #fcfbf8;
}

.swal2-actions {
    margin-top: 30px;
    margin-bottom: 20px;
}

.swal2-popup .swal2-actions {
    margin-bottom: 20px;
}

.swal2-popup .swal2-content {
    font-size: 1em;
}

.star {
    animation: kirakira 8s linear;
    color: #fce38a;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    position: fixed;
    top: -1em;
    z-index: 1000;
    filter: blur(3px);
}

@keyframes kirakira {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(100vh + 1em));
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5, 1.5);
        opacity: 0.0;
    }
}

.fl_tw2 {
    /*ボタンの背景*/
    color: #FFF;
    /*文字・アイコン色*/
    border-radius: 7px;
    /*角丸に*/
    display: inline-block;
    height: 45px;
    /*高さ*/
    width: 180px;
    /*幅*/
    text-align: center;
    /*中身を中央寄せ*/
    font-size: 18px;
    /*文字のサイズ*/
    line-height: 50px;
    /*高さと合わせる*/
    vertical-align: middle;
    /*垂直中央寄せ*/
    background: #aedefc;
    overflow: hidden;
    /*はみ出た部分を隠す*/
    text-decoration: none;
    /*下線は消す*/
    margin-bottom: 5px;
}

.fl_tw2 .fa-twitter {
    font-size: 25px;
}

.fl_tw2 span {
    /*テキスト*/
    display: inline-block;
    transition: .5s;
}

.shop {
    /*ボタンの背景*/
    color: #FFF;
    /*文字・アイコン色*/
    border-radius: 7px;
    /*角丸に*/
    display: inline-block;
    height: 45px;
    /*高さ*/
    width: 180px;
    /*幅*/
    text-align: center;
    /*中身を中央寄せ*/
    font-size: 18px;
    /*文字のサイズ*/
    line-height: 50px;
    /*高さと合わせる*/
    vertical-align: middle;
    /*垂直中央寄せ*/
    background: pink;
    overflow: hidden;
    /*はみ出た部分を隠す*/
    text-decoration: none;
    /*下線は消す*/
    margin-bottom: 5px;
}

.shop .fa-home {
    font-size: 25px;
}

.shop span {
    /*テキスト*/
    display: inline-block;
    transition: .5s;
}

.reload {
    /*ボタンの背景*/
    color: #FFF;
    /*文字・アイコン色*/
    border-radius: 7px;
    /*角丸に*/
    display: inline-block;
    height: 45px;
    /*高さ*/
    width: 180px;
    /*幅*/
    text-align: center;
    /*中身を中央寄せ*/
    font-size: 18px;
    /*文字のサイズ*/
    line-height: 50px;
    /*高さと合わせる*/
    vertical-align: middle;
    /*垂直中央寄せ*/
    overflow: hidden;
    /*はみ出た部分を隠す*/
    text-decoration: none;
    /*下線は消す*/
    margin-bottom: 20px;
}

.reload .fa-redo-alt {
    font-size: 1em;
    color: #979795;
}

.reload span {
    /*テキスト*/
    display: inline-block;
    transition: .5s;
    color: #979795;
    font-size: 0.9em;
}